<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <% stylesheet_link_tag :all %>
  <% javascript_include_tag :defaults %>
  <%= yield :headers %>
  <%= csrf_meta_tag %>
  <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :javascript %>
      })
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
